*.privtext
/priv_idea_scribbling
*.pdn
*.pem
/server/node_modules
server/run_server.bat
/temporary_backup_code
/sounds/sound_originals
/sounds
run_http_server.bat
/scripts_modified
server/make certificates.txt
server/san.cnf
server/make certificates.sh
server/replay_backup.replay
server/replay_backup.replay
*.replay
