html, body {
    margin: 0 0 0 0;
    height: 100%;
    overflow: hidden;
    
    /* Iphone Stuff */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    touch-action: none;
}